.dark-medium-contrast {
  --md-sys-color-primary: rgb(172 240 90);
  --md-sys-color-surface-tint: rgb(151 217 69);
  --md-sys-color-on-primary: rgb(23 43 0);
  --md-sys-color-primary-container: rgb(100 161 4);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(198 231 156);
  --md-sys-color-on-secondary: rgb(23 43 0);
  --md-sys-color-secondary-container: rgb(124 154 87);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(117 243 197);
  --md-sys-color-on-tertiary: rgb(0 44 31);
  --md-sys-color-tertiary-container: rgb(5 164 124);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(17 21 11);
  --md-sys-color-on-background: rgb(224 228 212);
  --md-sys-color-surface: rgb(17 21 11);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(66 73 55);
  --md-sys-color-on-surface-variant: rgb(216 223 199);
  --md-sys-color-outline: rgb(173 181 158);
  --md-sys-color-outline-variant: rgb(139 147 126);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(224 228 212);
  --md-sys-color-inverse-on-surface: rgb(39 43 33);
  --md-sys-color-inverse-primary: rgb(47 81 0);
  --md-sys-color-primary-fixed: rgb(178 246 95);
  --md-sys-color-on-primary-fixed: rgb(8 20 0);
  --md-sys-color-primary-fixed-dim: rgb(151 217 69);
  --md-sys-color-on-primary-fixed-variant: rgb(35 61 0);
  --md-sys-color-secondary-fixed: rgb(204 238 161);
  --md-sys-color-on-secondary-fixed: rgb(8 20 0);
  --md-sys-color-secondary-fixed-dim: rgb(177 209 136);
  --md-sys-color-on-secondary-fixed-variant: rgb(36 61 3);
  --md-sys-color-tertiary-fixed: rgb(124 249 203);
  --md-sys-color-on-tertiary-fixed: rgb(0 21 13);
  --md-sys-color-tertiary-fixed-dim: rgb(93 220 176);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 63 45);
  --md-sys-color-surface-dim: rgb(17 21 11);
  --md-sys-color-surface-bright: rgb(66 70 58);
  --md-sys-color-surface-container-lowest: rgb(5 8 3);
  --md-sys-color-surface-container-low: rgb(27 31 21);
  --md-sys-color-surface-container: rgb(37 41 31);
  --md-sys-color-surface-container-high: rgb(48 52 41);
  --md-sys-color-surface-container-highest: rgb(59 63 52);
}
