.light {
  --md-sys-color-primary: rgb(62 103 0);
  --md-sys-color-surface-tint: rgb(63 105 0);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(79 130 0);
  --md-sys-color-on-primary-container: rgb(249 255 234);
  --md-sys-color-secondary: rgb(75 102 42);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(204 238 161);
  --md-sys-color-on-secondary-container: rgb(81 109 47);
  --md-sys-color-tertiary: rgb(0 105 78);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(0 133 100);
  --md-sys-color-on-tertiary-container: rgb(245 255 248);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(247 251 234);
  --md-sys-color-on-background: rgb(25 29 19);
  --md-sys-color-surface: rgb(247 251 234);
  --md-sys-color-on-surface: rgb(25 29 19);
  --md-sys-color-surface-variant: rgb(222 230 205);
  --md-sys-color-on-surface-variant: rgb(66 73 55);
  --md-sys-color-outline: rgb(114 122 102);
  --md-sys-color-outline-variant: rgb(194 202 178);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(46 50 39);
  --md-sys-color-inverse-on-surface: rgb(239 243 226);
  --md-sys-color-inverse-primary: rgb(151 217 69);
  --md-sys-color-primary-fixed: rgb(178 246 95);
  --md-sys-color-on-primary-fixed: rgb(16 32 0);
  --md-sys-color-primary-fixed-dim: rgb(151 217 69);
  --md-sys-color-on-primary-fixed-variant: rgb(47 79 0);
  --md-sys-color-secondary-fixed: rgb(204 238 161);
  --md-sys-color-on-secondary-fixed: rgb(16 32 0);
  --md-sys-color-secondary-fixed-dim: rgb(177 209 136);
  --md-sys-color-on-secondary-fixed-variant: rgb(52 78 20);
  --md-sys-color-tertiary-fixed: rgb(124 249 203);
  --md-sys-color-on-tertiary-fixed: rgb(0 33 22);
  --md-sys-color-tertiary-fixed-dim: rgb(93 220 176);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 81 60);
  --md-sys-color-surface-dim: rgb(216 220 204);
  --md-sys-color-surface-bright: rgb(247 251 234);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(242 245 229);
  --md-sys-color-surface-container: rgb(236 240 223);
  --md-sys-color-surface-container-high: rgb(230 234 218);
  --md-sys-color-surface-container-highest: rgb(224 228 212);
}
